.first {
    display: flex;
    align-items: center;
    justify-content:
    space-between;
    padding: 20px;
}

.lefftsection img{
    max-width: 100;
}

.rightsection {
    text-align:center;
}

#white{
    color: white;
    font-size: 2.5rem;
}

.secondsection {
    text-align: center;
    padding: 50px;
}

.secondsection.box{
    display: flex;
    justify-content:
    space-around; 
}

.secondsection .vertical {
    width: 5px;
    height: 100px;
    background-color: #333;
}
